/* ==UserStyle==
@name           Youtube Captions Fix
@namespace      userstyles.world
@version        1.0.1
@author         Semnodime
@license        MIT
@homepageURL    https://github.com/Semnodime/userstyles.world-Youtube-Captions-Fix
@updateURL      https://github.com/Semnodime/userstyles.world-Youtube-Captions-Fix/raw/main/youtube-captions-fix.user.styl
@preprocessor   stylus
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/watch?v=") {
.ytp-caption-window-bottom > .captions-text{
    transform: none !important;
}

}
