/* ==UserStyle==
@name           Youtube Captions Fix
@namespace      userstyles.world
@version        1.0.0
@author         Semnodime
@license        MIT
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/watch?v=") {
.ytp-caption-window-bottom > .captions-text{
    transform: none !important;
}

}
